.team-container{
    margin: auto;
    display: flex;
    border: 1px solid #f4f4f4;
    padding: 1rem;
    margin: 1rem;
    border-radius: 14px;
    height: 75%;
    align-items: center;
}

.stars {
    display: flex;
    justify-content: center;

}


/* ratings */
.ratings{
    display: flex;
    margin:1rem;
}

.rating-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;

}

.rating-box{
    padding: .5rem;
    border: 2px black solid;
    width: 20px;
    border-radius: .5rem;
    text-align: center;
    background-color: rgb(216, 216, 52);
}

.rating-title{
    text-align: center;
    width: 70%;
}

.team-logo{
    width: 100px;
    height: 100px;
}

